:root{
    --white-color:#fff;
    --black-color:#111;
    --gray-color:rgb(96, 96, 96);
    --cam-color:rgba(64, 0, 255, 0.3);
    --orange-color:rgb(11, 60, 255);
    --mau-cam-color:rgb(250, 126, 64);
    --navbar-height:34px;
    --header-height:135px;
    --header-with-search-height:calc(var(--header-height)-(var(--navbar-height)));
}
*{
    box-sizing: initial;
}
html{
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    line-height: 1.6rem;
}
/* ripposive */
.grid{
    width: 1400px;
    max-width: 100%;
    margin: 0 auto;
}
.grid__full-width{
    width: 100%;
}
.grid__row{
    display: flex;
    /* flex-wrap: wrap; */
    margin-left: -5px;
    margin-right: -5px;
  
}
/* text */
.grid__column-2{
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}
.grid__column-2-4{
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
    
}
.grid__column-10{
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3334%;
    
}
@keyframes xuathien{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes growth{
    from{
        transform: scale(var(--growth-from));
    }
    to{
        transform: scale(var(--growth-to));
    }
}
/* moda:khung from */
.moda{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex; 
    display: none;
    z-index: 1;
    transition: xuathien linear .1s;
   
}
.moda__overlay{
    background-color: rgba(0,0,0,.5);
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
   
}
.moda__body{
    --growth-from:0.5;
    --growth-to:1;
    margin: auto;
    z-index: 1;
    animation: growth ease-in 0.2s;
}
.hover:hover{
    opacity: 0.7;
    cursor: pointer;
}
.hovers:hover{
    opacity: 0.4;
    cursor: pointer;
}
.oranger:hover{
    color: var(--orange-color);
    opacity: 0.7;
}
/* nut dang nhap */
.btn{
    flex-direction:none ;
    min-width: 140px;
    height: 30px;
    font-size: 1.4rem;
    font-weight: 510;
    border: none;
    border-radius: 2px;
    display:inline-flex;
    justify-content: center;
    align-items: center;
    
}
.btn-hover:hover{
    background-color: #c3c3c3;
    cursor: pointer;
}
.btn--oranger{
    background-color: var(--orange-color);
    color: var(--white-color);
}
.btn-disable{
    color:#949494;
    background-color: #c3c3c3;
    cursor: default;
}
/* seclect */
.seclect__input{
    height: 32px;
    min-width: 200px;
    padding: 0 12px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    margin-left: 15px;
    position: relative;
}
.seclect__input::after{
    position: absolute;
    content: "";
    display: block;
    width: 226px;
    height: 20px;
    top: 90%;
    left: 0;
}
.seclect__input-icon{
    color: var(--gray-color);
    font-size: 1.4rem;
}
.seclect__input:hover .seclect__input-ul{
    display: block;
}
.seclect__input-ul{
    position:absolute;
    top: 23px;
    right: 0;
    background-color: var(--white-color);
    width: 150px;   
    height: 100px;
    display: block;
    border-radius: 2px;
    list-style: none;
    padding: 10px 10px 0 20px;
    display: none;
    cursor: pointer;
    z-index: 1;
    animation: fadein ease-in 0.3s;
    transform-origin:top right ;
    box-shadow: 0 2px 2px  rgba(0,0,0,.5);
}
.seclect__input-li{
    margin: 15px 0;
    color: var(--gray-color);
}

/* phần phân trang */


.pagitation{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;

}
.pagitation__item{
   margin: 0 8px;
}

.pagitation__item--active.pagitation__item-link{
    background-color: var(--orange-color);
    color: var(--white-color);
}
.pagitation__item--active.pagitation__item-link:hover{
    opacity: .9;
}
.pagitation__item-link{
    --height:30px;
    text-decoration: none;
    color: #939393;
    min-width: 40px;
    line-height:var(--height);
    height: var(--height);
    display: block;
    text-align: center;
    font-size: 2rem;

}

.pagitation__item-icon{
    font-weight: 800;
}
