/* Mobile-tableb */
@media(max-width:1023px){
    .none-tableb-mobile{
        display: none;
    }
   :root{
    --navbar-height:0;
    --header-height:68px;
   }
   .header__with-search{
    margin-top: -34px;
    align-items: center;
   }
   .header__cart{
    margin-top: 11px;
   }
   .notification::before{
    top: -55px;
   }
   .header{
    z-index: 10;
    position: fixed;
    top: 0;
    width: 100%;
   }
   .wrapper{
    margin-top: 100px;
   }
   .wrapper__container{
    width: 100%;
    margin-top: var(--header-height);
   }
   .header__shoping{
    position: fixed;
    top: var(--header-height);
    left: 0;
    right: 0;
    
   }
   .notification__header{
    width: 100%;
    
}

   .notification::before {
    display: none;
   }

.notification__footer{
    margin-top: -2px;
}

   .notification__btn{
    margin: 9px 0 5px 10px;
   }
   .header__sort-bar{
    display: flex;
   }
   
}

/* Tableb */
@media(min-width:740px) and (max-width:1024px){
    .none-tableb{
        display: none;
    }
}
/* Mobile */
@media(max-width:739px){
    .none-mobile{
        display: none;
    }
    .header__search{
        display: none;
    }
    .header__search-btn{
        z-index: 1;
    }
    .grid__column-2{
        display: none;
    }
    .grid__column-10{
        display: flex;
        width: 100%;
    }
}